<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense List - Finance Tracker</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h2>Expense List</h2>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2025-03-01</td>
                    <td>Food & Groceries</td>
                    <td>$50</td>
                    <td>Lunch at a restaurant</td>
                    <td>
                        <a href="edit_expense.html">Edit</a> |
                        <a href="#">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>2025-03-02</td>
                    <td>Housing</td>
                    <td>$800</td>
                    <td>Monthly Rent</td>
                    <td>
                        <a href="edit_expense.html">Edit</a> |
                        <a href="#">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="./enter_expense.html" class="btn">Add New Expense</a>
    </div>
</body>
</html>
